* {
    transition: all .1s ease-in-out;
    scroll-behavior: smooth;
}
  
ul li {
    list-style-type: none; 
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
.wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url(../img/header_picture.png);;
    min-height: 820px;
    background-position: center;

}
.header-content__title {
        font-size: 48px;
        font-family: 'Josefin Sans';
        font-weight: bold;
        color:white;
        letter-spacing: 3px;
        margin: 0 0;
        padding-top: 260px;;
    }
.header-content__text {
    font-size: 22px;
        font-family: 'Josefin Sans';
        font-weight: lighter;
        color:white;
        letter-spacing: 5px;
        text-align: center;
        padding-bottom: 50px;
}

input[type="text"] {
    min-height: 60px;
    width: 650px;
}

::-webkit-input-placeholder {
  padding-left: 20%;  
  font-family: 'Josefin Sans';
        font-weight: 300;
        color: #bbbbbb;
        letter-spacing: 2px;
}

.scroll {
    position: absolute;
    text-align: center;
    left: 45%;
    top:90%;
    z-index: 99999999999999999999999;
    font-size: 16px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        color: #e8e8e8;
        letter-spacing: 2px;}

    
     

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 100%;
    margin-top: 291px;
    background-color: #5474fd;
    padding: 0 10%;
    
}


.nav__logo {
        display: flex;
        font-size: 24px;
        font-family: 'Josefin Sans';
        font-weight: 400;
        color: white;
        letter-spacing: 2px;
}
    
.nav__list {
    display: flex;          
        font-size: 14px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: white;
        white-space: nowrap;
        
}

.nav__list li {
padding: 0 3.5%;
}

/* second section */

.why-choose {
    background-image: url(../img/nightcity.png);
    min-height: 690px;
    background-position: center;
}

.why-choose__wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.why-choose__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
    height: 450px;
    margin-top: 120px;
}

.why-choose__title {
    font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: white;
        padding-bottom: 10% ;

}

.why-choose__text {
    font-size: 16px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        color: #e8e8e8;
        letter-spacing: 1px;
}
.container__imgtop {
    background-image: url(../img/why_choose_us_pic1.png);
    background-position: center;
    min-height: 220px;
    max-width: 350px;
    margin-left: 66px;
}

.container__imgbtm {
    background-image: url(../img/why_choose_us_pic2.png);
    background-position: center;
    min-height: 220px;
    max-width: 350px;
    margin-left: 190px;
}

button {
    width: 225px;
    height: 60px;
    background-color: #496bfe;
    color: white;
    border: none;
    font-size: 16px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: white;
        margin-top: 8%;
}

/*-----SEARCH---*/

.search__container {
    display: flex;
    height: 340px;
    background-color: #333333;
    
}

.search-icons__container {
display: flex;
width: 1110px;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 0 10% ;
}

.search__icons {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search__text {
    text-align: center;
    font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: white;
        white-space: nowrap;;
        margin-top: 10%;
}
img {
    height: 58px;
    width: 58px;
}
/*----_SPAIN----*/

.spain__container {
        background-image: url(../img/spainhouses.png);
        min-height: 700px;
        background-position: center;
}

.spain__wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
}

.spain__content {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 370px;
    background-color: #333333;
    margin-top: 20%;
    opacity: 0.9 ;
}

.spain-content__title {
    font-size: 16px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        color: #e8e8e8;
        padding-left: 5%;
        padding-top: 5%;   
}

.spain-content__text-top {
    font-size: 16px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        color: #e8e8e8;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%
}

.spain-content__text {
    font-size: 16px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        color: #e8e8e8;
        padding-left: 5%;
        padding-bottom: 2%; 

}
.spain__content button {
    margin-left: 5%;
}

/*----sunrise-----*/ 

.sunrise__container {
    background-image: url(../img/spainsunrise.png);
        min-height: 700px;
        background-position: center;
}

.sunrise__wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
}

/*-------toursit-------*/

.tourist__container {
    background-image: url(../img/tourist_big.png);
        min-height: 730px;
        background-position: center;
}

.tourist__wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.tourist__title {
    font-size: 36px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        color: white;
        margin: 10% 0;
}

.tourist__content {
    display: flex;
width: 1100px;
height: 290px;
flex-direction: row;
}

.tourist__img {
    width: 445px;
    height: 284px;
    background-image: url(../img/tourist_small.png);
    background-position: center;
}
.tourist__block {
    width: 665px;
    height: 284px;
    background-color: #333333;
}

.tourist__text-top {
    font-size: 20px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    color: #e8e8e8;
    padding-left: 8%;
    padding-top: 5%; 

}

.tourist__text-bottom {
    font-size: 16px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    color: #e8e8e8;
    padding-left: 8%;
    padding-top: 2%;
    line-height: 1.3;
    
}
.fa.fa-quote-left {
 color: #5474fd;
 font-size: 25px;}

 /*--------footer----*/

 .footer {
    min-height: 270px;
    background-color: #232323;
    background-position: center;
 }

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    min-height: 170px;
    padding-top: 12%;
}

.footer__logo {
        display: flex;
        font-size: 24px;
        font-family: 'Josefin Sans';
        font-weight: 400;
        color: white;
        letter-spacing: 2px;
}       
 .footer__text {
    text-align: center;
    font-size: 16px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    color: #e8e8e8;
    letter-spacing: 1px;
    white-space: nowrap;
    padding-top: 5%;
    padding-bottom: 20%;
 }

 .footer__icons {
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     min-height:30px;
     width:172px;
     
 }
 .fa.fa-facebook, .fa.fa-linkedin, .fa.fa-twitter, .fa.fa-youtube-play, .fa.fa-pinterest {
     color: #e8e8e8;
     font-size: 20px;
     
 }

 .fa.fa-facebook:hover, .fa.fa-linkedin:hover, .fa.fa-twitter:hover, .fa.fa-youtube-play:hover, .fa.fa-pinterest:hover {
     cursor: pointer;
     }

     @media screen and (max-width:680px) {
        input[type="text"] {
            min-height: 60px;
            width: 550px;
        }
        }

        @media screen and (max-width:580px) {
            input[type="text"] {
                min-height: 60px;
                width: 400px;
            }

            .spain__content {
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 310px;}

            }  
             
                @media screen and (max-width:420px) {
                    input[type="text"] {
                        min-height: 60px;
                        width: 300px;
                    }
                    ::-webkit-input-placeholder {
                        padding-left: 5%;;;
                    }
                    }  
                    @media screen and (max-width:800px) {
                        .nav__list {
                          display: none;
                        }

                        }              